
.LoginForm{
    
    max-width: 500px;
    min-width: 200px;

}
.centerBar{
    min-width: 500px;
}

@media (max-width: 500px) {
    .centerBar {
        background-image:url('../../../public/images/loginpageImage-2.jpg'); /* Change background image for screens smaller than 768px */
    }
    .sideBar{
        display: none;
    }
}
