.NavBarForDesk #logo{
  font-family: "Style Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  padding: 15px;
}
.NavBarForDesk{
  border-right: 1px solid rgb(223, 223, 223);
  background: var(--bg-color);
  /* width: 300px; */
  
}
.NavbarLogo{
  width: 300px;
  /* margin: 0 10px; */
}
@media (max-width : 700px){
 .NavBarForDesk{
  width: 70px;
 }
 .NavBarForDesk .NavbarLogo{
  display: none;
 }
}