.custom-alert {
    position: fixed;
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.3s ease-in-out forwards; 
    text-align: center;
  }
  
  @keyframes slideDown {
    from {
      top: -100px; /* Start position above the viewport */
    }
    to {
      top: 50px; /* End position at the top of the viewport */
    }
  }
  
  .custom-alert.hide {
    animation: slideUp 0.3s ease-in-out forwards; /* Animation for sliding up when hiding */
  }
  
  @keyframes slideUp {
    from {
      top: 50px; /* Start position at the top of the viewport */
    }
    to {
      top: -100px; /* End position above the viewport */
    }
  }
  
  .custom-alert button {

    color: white;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
