

.center{
   min-width: 320px;
}
.SignUpform{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* flex-direction: column; */
    padding: 0px;
    max-height: 650px;
    
}
.SignUpform form{
    min-width: 330px;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #178433;
    border-radius: 5px ;
    overflow-y: auto;
  

}
.logo{
    color: rgb(20, 141, 42);
    position: sticky;
    top: 0px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 60px;
    font-weight: bold;
    margin-top: 40px;
}

@media (max-width : 640px){
  .Sidebar_signUp{
    display: none;
  }
  .SignUpform{
    height: 75dvh;
}
}