.overLay{
    position:fixed;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(18, 27, 17, 0.8);
    z-index: 1000;
}
.userCreateModal{
    margin-right: 20px;
    max-width: 500px;
    min-width: 500px;
    position:fixed;
    top: 0%;
    left:50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    /* padding: 10px; */
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}
@media (max-width: 600px) {
    .userCreateModal {
        width: calc(100% - 40px); /* Adjust width for smaller screens */
        max-width: none; /* Remove max-width constraint */
        min-width: auto; /* Remove min-width constraint */
        left: 5%; /* Adjust positioning for smaller screens */
        transform: none; /* Remove horizontal centering */
    }
}
.top_Div{
    top:0;
    padding:5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 600;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.mainDiv{
   
    height: 95dvh;
    overflow-y: scroll;
}
.uploadDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.uploadDiv h3{
    font-weight: 600;
    font-size: large;
}
.uploadUserFile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    padding: 20px;
    gap: 10px;
}
.uploadUserFile  i{
    color: #178244;
    font-size: 60px;
}
.uploadUserFile label{
    background: #178244;
    border-radius: 5px;
    padding: 8px ;
    display: inline-block;
    color: white;
    font-weight: 600;
    
}
.uploadUserFile label:hover{
    transform: scale(1.03);
}
.uploadUserFile label:active{
    transform: scale(1);
}
#uploadUserFile[type=file]{
display: none;
}
.nextButton{
    background: #178244;
    color: aliceblue;
    padding:2px 10px;
    margin:10px 0px;
    border-radius: 5px;
    width: 50%;
    font-weight: 600;

}
.nextButton:active{
    background: #116132;
}

.captionDiv{
    padding: 10px;
}
.captionInput{
    width:100%;
    height: 120px;
}
.captionDiv div{
    margin-top: 8px;
}
.ShareButton{
    background: #178244;
    color: aliceblue;
    padding:2px 10px;
    margin:10px 0px;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
}
.ShareButton:active {
    background: #116132;
}
.textArea_userCreate{
    background: #ffffff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.textArea_userCreate:focus{
    outline: none;
}
